<ion-header>

  <ion-navbar>
    <ion-title>Statistics</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list #wordList [hidden]="wordStatsCount === 0">

    <ion-item *ngFor="let word of wordStats" #item>

      <button ion-item detail-none (click)="expandItem(item)">
        <ion-icon item-end name="ios-arrow-down" *ngIf="!item.expanded"></ion-icon>
        <ion-icon item-end name="ios-arrow-up" *ngIf="item.expanded"></ion-icon>
        <h1>{{word?.text}}</h1>

        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
          <p padding>{{word?.transcription}}</p>

          <h3 padding-horizontal>{{word?.partOfSpeech}}: {{word?.category | lowercase}}</h3>
        </expandable>

        <p padding-horizontal>Counter: {{word.count}} | Errors: {{word.errors}}</p>
      </button>

    </ion-item>

  </ion-list>

  <ion-list-header [hidden]="wordStatsCount > 0">
    No Statistics
  </ion-list-header>

</ion-content>