<ion-card>
  <ion-card-header>
    {{header}}
  </ion-card-header>

  <ion-card-content>

    <h1>{{word?.text}}</h1>

    <p padding>{{word?.transcription}}</p>

    <h3>{{word?.partOfSpeech}}: {{word?.category | lowercase}}</h3>

    <form #translateForm="ngForm" novalidate>

      <ion-list>
        <ion-item>
          <ion-label position="stacked">Translate please</ion-label>
          <ion-input [(ngModel)]="userTranslation" #translation="ngModel" name="translation" [placeholder]="translationPlaceHolder"
            type="text">
          </ion-input>
        </ion-item>
      </ion-list>

      <div padding>
        <ion-button (click)="onHelpRequested()" type="button" fill="outline" [hidden]="userTranslation">Show me</ion-button>
        <ion-button (click)="onSubmit()" type="button" [hidden]="!userTranslation">Validate</ion-button>
      </div>

    </form>

  </ion-card-content>
</ion-card>