<ion-header>
  <ion-toolbar>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.touched">
      <ion-label>
        <p>Please enter a valid email.</p>
      </ion-label>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!resetPasswordForm.valid">
      Reset your Password
    </ion-button>

  </form>
</ion-content>