<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <mat-accordion [hidden]="wordStatsCount === 0" multi="true">

    <mat-expansion-panel *ngFor="let word of wordStats">
      <mat-expansion-panel-header>

        <mat-panel-title>
          {{word?.text}}
        </mat-panel-title>

        <mat-panel-description>
          Counter: {{word.count}} | Errors: {{word.errors}}
        </mat-panel-description>

      </mat-expansion-panel-header>

      <p>{{word?.transcription}}</p>

      <strong>{{word?.translation}}</strong>

      <p>{{word?.partOfSpeech}}: {{word?.category | lowercase}}</p>

    </mat-expansion-panel>

  </mat-accordion>

  <ion-list-header [hidden]="wordStatsCount > 0">
    <ion-label>No Statistics</ion-label>
  </ion-list-header>

</ion-content>