<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Lexion!</h2>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #dictionaryList [hidden]="!dictionaries || dictionaries.length === 0">

    <ion-item-sliding *ngFor="let dictionary of dictionaries" #slidingItem>

      <button ion-item (click)="goToLearn(dictionary)">
        <h3>{{dictionary.name}}</h3>
        <p>{{dictionary.wordsLearned}} / {{dictionary.totalWords}}</p>
      </button>

      <ion-item-options>
        <button ion-button color="favorite" (click)="addFavorite(slidingItem, dictionary)" *ngIf="segment === 'all'">
          Favorite
        </button>
        <button ion-button color="danger" (click)="removeFavorite(slidingItem, dictionary, 'Remove Favorite')" *ngIf="segment === 'favorites'">
          Remove
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-list-header [hidden]="dictionaries && dictionaries.length > 0">
    No Dictionaries Found
  </ion-list-header>
</ion-content>