@mixin chart-line() {
  stroke: var(--ion-color-light-contrast);
  stroke-opacity: .5;
}

@mixin chart-text($fontSize) {
  fill: var(--ion-color-light-contrast);
  letter-spacing: .06em;
  text-transform: uppercase;
  font-size: $fontSize !important;
}

.chart {
  width: 100%;
  height: 20vh;
  min-height: 166px;
  padding: var(--ion-padding, 16px);
  padding-bottom: 0;

  .chart__wrapper {
    background: linear-gradient(var(--ion-color-light), var(--ion-color-light-shade));
    border-radius: 16px;
  }
  .chart__bar {
    fill: var(--ion-color-light-contrast);
    opacity: .5;
  }
  .chart__axis-line {
    @include chart-line();
  }
  .chart__axis-tick {
    .vx-line {
      @include chart-line();
    }
    text {
      @include chart-text(.4rem);
    }
  }
  .chart__bar-label {
    @include chart-text(.4rem);
  }
  .chart__axis-label {
    @include chart-text(.75rem);
  }
}
