.large-text {
  font-size: 1.625rem !important;
  white-space: normal;
}

.normal-text {
  font-size: 1rem !important;
  white-space: normal;
}

.bold-text {
  font-weight: bold !important;
}

.small-text {
  font-size: 0.75rem !important;
  white-space: normal;
}

.char-input {
  flex-grow: unset;
}

.char-input div {
  font-family: monospace;
  font-size: 1.4rem;
  text-transform: lowercase;
  color: var(--ion-color-light-contrast);
}

.char-input-letter div {
  background: var(--ion-color-light);
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.char-input-letter::after {
  content: '';
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  border: solid 0.125rem var(--ion-color-light-shade);
  border-radius: 0.125rem;
}

.keyboard-wrapper {
  padding-left: var(--ion-padding, 16px);
  padding-right: var(--ion-padding, 16px);
  padding-top: var(--ion-padding, 16px);
  padding-bottom: 0;
}

.keyboard-wrapper .simple-keyboard.hg-layout-default {
  font-family: monospace;
}

.keyboard-wrapper .simple-keyboard.hg-theme-default .hg-button {
  background: unset;
  box-shadow: unset;
  border: unset;
  cursor: unset;
  height: 2.5rem;
  pointer-events: none;
}

.keyboard-wrapper .simple-keyboard.hg-theme-default .hg-button.hg-activeButton {
  background: unset;
}

.keyboard-wrapper .simple-keyboard.hg-layout-default .hg-button.hg-enabled {
  background: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
  box-shadow: 0 0 3px -1px var(--ion-color-light-shade);
  cursor: pointer;
  pointer-events: unset;
}

.keyboard-wrapper .simple-keyboard.hg-theme-default .hg-button.hg-enabled.hg-activeButton {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.keyboard-wrapper .simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  box-shadow: 0px 0px 40px 5px rgba(var(--ion-color-warning-rgb));
  z-index: 1;
}

ul.count {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: var(--ion-padding, 16px);
}

ul.count li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 0.4rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--ion-color-success);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 0.1rem 0.1rem rgba(var(--ion-color-success-rgb));
}

.chart {
  width: 100%;
  height: 20vh;
  min-height: 166px;
  padding: var(--ion-padding, 16px);
  padding-bottom: 0;
}
.chart__wrapper {
  background: linear-gradient(var(--ion-color-light), var(--ion-color-light-shade));
  border-radius: 16px;
}

.chart__bar {
  fill: var(--ion-color-light-contrast);
  opacity: 0.5;
}

.chart_grid-line,
.chart__axis-line,
.chart__axis-tick .vx-line {
  stroke: var(--ion-color-light-contrast);
  stroke-opacity: 0.5;
}

.chart__bar-label,
.chart__axis-tick text,
.chart__axis-label {
  fill: var(--ion-color-light-contrast);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.chart__bar-label,
.chart__axis-tick text {
  font-size: 0.4rem !important;
}

.chart__axis-label {
  font-size: 0.75rem !important;
}

.ripple .rim1,
.ripple .rim2,
.ripple .rim3 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 0em;
  height: 0em;
  border: 0 none;
  background: transparent;
}
.ripple .rim1 {
  animation: expand 2s linear infinite;
}
.ripple .rim2 {
  animation: expand 2s linear 0.5s infinite;
}
.ripple .rim3 {
  animation: expand 2s linear 1s infinite;
}

@keyframes expand {
  0% {
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border: var(--color) 2px solid;
    opacity: 1;
  }
  100% {
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border: var(--color) 10px solid;
    opacity: 0;
  }
}
