<ion-card>
  <ion-card-header>
    {{header}}
  </ion-card-header>

  <ion-card-content>
    <form #translateForm="ngForm" novalidate>
      <ion-list no-lines>
        <ion-item>
          <h1>{{word?.text}}</h1>
          <p padding>{{word?.transcription}}</p>
          <h2>{{word?.partOfSpeach}}: {{word?.category | lowercase}}</h2>
        </ion-item>
        <ion-item>
          <ion-label inline color="primary">Translate please</ion-label>
          <ion-input [(ngModel)]="userTranslation" #translation="ngModel" name="translation" [placeholder]="translationPlaceHolder"
            type="text">
          </ion-input>
        </ion-item>
      </ion-list>

      <div padding>
        <button ion-button (click)="onHelpRequested()" type="button" [hidden]="userTranslation" outline>Show me</button>
        <button ion-button (click)="onSubmit()" type="submit" [hidden]="!userTranslation">Validate</button>
      </div>
    </form>
  </ion-card-content>
</ion-card>