<ion-card>
  <ion-card-header>
    {{header}}
  </ion-card-header>

  <ion-card-content>

    <h1>{{word?.text}}</h1>

    <p padding>{{word?.transcription}}</p>

    <h3>{{word?.partOfSpeach}}: {{word?.category | lowercase}}</h3>

    <form #translateForm="ngForm" novalidate>

      <ion-list>
        <ion-item>
          <ion-label stacked>Translate please</ion-label>
          <ion-input [(ngModel)]="userTranslation" #translation="ngModel" name="translation" [placeholder]="translationPlaceHolder"
            type="text">
          </ion-input>
        </ion-item>
      </ion-list>

      <div padding>
        <button ion-button (click)="onHelpRequested()" type="button" [hidden]="userTranslation" outline>Show me</button>
        <button ion-button (click)="onSubmit()" type="submit" [hidden]="!userTranslation">Validate</button>
      </div>

    </form>

  </ion-card-content>
</ion-card>