.large-text {
  font-size: 1.2rem !important;
  white-space: normal;
}

.normal-text {
  font-size: 1rem !important;
  white-space: normal;
}

.bold-text {
  font-weight: bold !important;
}

.small-text {
  font-size: 0.75rem !important;
  white-space: normal;
}

.char-input {
  flex-grow: unset;
}

.char-input div {
  font-family: monospace;
  font-size: 1.4rem;
  text-transform: lowercase;
}

.char-input-letter div {
  background: #f7f7f7;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.char-input-letter::after {
  content: '';
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  border: solid 0.125rem #ddd;
  border-radius: 0.125rem;
}

.keyboard-wrapper {
  padding: 5px 5px 0 5px;
}

.keyboard-wrapper .simple-keyboard.hg-layout-default {
  font-family: monospace;
}

.keyboard-wrapper .simple-keyboard.hg-theme-default .hg-button {
  background: unset;
  box-shadow: unset;
  border: unset;
  cursor: unset;
}

.keyboard-wrapper .simple-keyboard.hg-theme-default .hg-button.hg-activeButton {
  background: unset;
}

.keyboard-wrapper .simple-keyboard.hg-layout-default .hg-button.hg-enabled {
  background: #fff;
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
}

.keyboard-wrapper .simple-keyboard.hg-theme-default .hg-button.hg-enabled.hg-activeButton {
  background: #efefef;
}

.keyboard-wrapper .simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  box-shadow: 0px 0px 40px 5px rgba(255, 255, 0, 0.5);
  z-index: 1;
}
